---
import Header from "@components/Header.astro";
import WebSocketClient from "@components/websocket/Client";
import ToolLayout from "@layouts/ToolLayout.astro";

import en from "@locales/en.json";

const t = en;
---

<ToolLayout title={t.websocket.title} description={t.websocket.description}>
  <Header>{t.websocket.client}</Header>
  <div class="background">
    <WebSocketClient lang="en" client:only="react" className="client" />
  </div>
</ToolLayout>

<style>
  .background {
    background: #202020;
    padding: 0 1rem;
  }

  .client {
    max-width: 960px;
    margin: 0 auto;
    padding: 3rem 0;
  }
</style>
