@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  background-color: #000000;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

main {
  background-color: #3f3f3f;
}

a,
p,
input,
textarea,
button,
select {
  color: #ffffff;
}

p {
  line-height: 1.6;
}

button {
  display: inline-block;
  background: #ff9100;
  padding: 0.75em 1.5em;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
  background: #ffa733;
  transform: translateY(-2px);
}

input,
textarea {
  display: inline-block;
  padding: 0.75em;
  border: none;
  border-radius: 8px;
  background-color: #3f3f3f;
  font: inherit;
  outline: none;
  resize: none;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus,
textarea:focus {
  filter: brightness(1.2);
  box-shadow: 0 0 0 2px #ff9100;
}

select {
  display: inline-block;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  background-color: #3f3f3f;
  font: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  appearance: none;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, #ccc 50%),
    linear-gradient(135deg, #ccc 50%, transparent 50%);
  background-position: calc(100% - 1.2rem) 55%, calc(100% - 0.9rem) 55%;
  background-size: 6px 6px;
  background-repeat: no-repeat;
  padding-right: 2rem;
}

select:focus {
  filter: brightness(1.2);
  box-shadow: 0 0 0 2px #ff9100;
}

select option {
  background-color: #3f3f3f;
  color: inherit;
}
