---
import BaseLayout from "../layouts/BaseLayout.astro";

import industries from "../data/industries";
---

<BaseLayout>
    <section class="header">
        <h1>Industries</h1>
    </section>

    <p class="general-description">A general description goes here</p>

    {
        industries.map((industry, index) => (
            <section
                class={`industry-section ${index % 2 !== 0 ? "reverse" : ""}`}
            >
                <div class="industry-content">
                    <img
                        class="industry-image"
                        src={industry.image}
                        alt={industry.title}
                    />
                    <div class="text-content">
                        <h2
                            id={industry.title.replace(/\s+/g, "").toLowerCase()}
                        >
                            {industry.title}
                        </h2>
                        <p class="industry-description">
                            {industry.longDescription}
                        </p>
                        <a href="/contact" class="contact-button">
                            Get in touch
                        </a>
                    </div>
                </div>
            </section>
        ))
    }
</BaseLayout>

<style>
    .header {
        background: linear-gradient(-45deg, #ff9100 0%, #ffd180 100%);
        padding: 4rem 2rem;
        text-align: left;
        font-size: 2.5rem;
    }

    .general-description {
        text-align: center;
        margin: 4rem 2rem 2rem;
        font-size: 1.2rem;
        color: #fff;
    }

    .industry-section {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    .industry-content {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: nowrap;
        max-width: 1200px;
        width: 100%;
    }

    .industry-section.reverse .industry-content {
        flex-direction: row-reverse;
    }

    .industry-image {
        width: 50%;
        max-width: 900px;
        border-radius: 10px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        text-align: center;
    }

    .text-content h2 {
        margin: 0;
        color: #fff;
        font-size: 3rem;
    }

    .industry-description {
        color: #fff;
        font-size: 1.1rem;
    }

    .contact-button {
        background: #ff9100;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-weight: bold;
        text-decoration: none;
        transition: background 0.2s;
        align-self: center;
    }

    .contact-button:hover {
        background-color: #ffd180;
    }

    @media (max-width: 768px) {
        .industry-section.reverse .industry-content {
            flex-direction: column;
        }

        .industry-content {
            flex-direction: column;
            gap: 1.5rem;
        }

        .industry-image {
            width: 90%;
        }
    }
  
</style>
