---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="alsoft" />
    <meta
      property="og:description"
      content="Firmware that makes your hardware shine"
    />
    <meta property="og:image" content="/logo.png" />
    <meta property="og:type" content="website" />
    <title>alsoft</title>
    <link rel="stylesheet" href="/globals.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
