---
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alsoft</title>
    <link rel="stylesheet" href="/src/styles/globals.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <Navbar />

    <main>
      <slot />
    </main>
  </body>
</html>
